@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.projects-page {
    min-height: calc(100vh - 4.25rem);
    height: 100%;
    background-color: $off-white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__msg {
        color: $background-dark;
        font-size: 1.75rem;
        text-align: center;
        @include side-padding-mobile;
        @include tablet {
            font-size: 2rem;
            @include side-padding-tablet;
        }
        @include desktop {
            font-size: 2.75rem;
            padding: 0;
            max-width: $desktop;
        }
    }
}