.container {
    position: relative;
    padding: 1.5rem 2rem;
    border: 4px solid #000;
}

.container-is-rounded {
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url("/rounded_corner.svg");
    border-image-outset: 2;
    padding: 1rem 1.5rem;
    margin: 4px;
}

.is-container-title {
    display: table;
    position: absolute;
    margin-top: -1.75rem;
    padding: 0 0.5rem;
}