@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.profile-card {
    position: relative;
    width: 90%;
    max-height: 40rem;
    height: 100%;
    // margin-top: 7rem;
    @include tablet {
        width: 80%;
    }
    @include desktop {
        max-width: $desktop;
    }
    &::before {
        content: "";
        width: calc(100% - 1rem);
        height: calc(100% - 0.5rem);
        border: 0.25rem solid $highlight-purple;
        position: absolute;
        left: 0.25rem;
    }
    &::after {
        content: "";
        width: calc(100% - 0.5rem);
        height: calc(100% - 1rem);
        border: 0.25rem solid $highlight-purple;
        position: absolute;
        top: 0.25rem;
    }

    &__content {
        width: calc(100% - 1rem);
        height: calc(100% - 1rem);
        margin: 0.5rem;
        background-image: url(/images/paper.svg);
        display: flex;
        flex-direction: column;
        z-index: 100;
        @include tablet {
            flex-direction: row;
        }
    }
    &__stats{
        &-wrap {
            display: flex;
            @include tablet {
                flex-direction: column;
                width: 15rem;
            }
            @include desktop {
                height: 100%;
            }
        }
        &-profile {
            background-color: $off-white;
            border-radius: 2rem;
            width: 7.5rem;
            @include tablet {
                width: 10rem;
                margin: 40px;
            }
            &-wrap {
                min-width: 10rem;
                height: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
                @include tablet {
                    width: 15rem;
                    height: 15rem;
                }
            }
        }
        &-list {
            list-style: none;
            padding: 20px 0;
            @include tablet {
                padding:0 0 1rem 1rem;
            }
            @include desktop {
                padding-bottom: 40px;
            }
        }
        &-item {
            font-weight: 700;
            line-height: 1.25rem;
            @include tablet {
                line-height: 1.5rem;
            }
        }
    }
    &__desc {
        font-size: 1rem;
        text-indent: 1rem;
        padding: 0.25rem 0;
        @include tablet {
            font-size: 1.15rem;            
            text-indent: 1.5rem;
            padding: 0.5rem 0;
        }
        @include desktop {
            font-size: 1.35rem;
            text-indent: 2rem;
        }
        &--short {
            font-size: 0.9rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }
        &--sub {
            font-size: 0.9rem;
        }
        &-wrap {
            @include side-padding-mobile;
            padding-bottom: 1rem;
            @include tablet {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
    }
}