@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.profile-card {
    background-color: $off-white;
    @include tablet {
        height: calc(100vh - 15rem);
        top: 0rem;
    }
    @include desktop {
        max-width: 70rem;
    }
    &__title {
        background-color: $off-white !important;
        margin-bottom: 0;
        z-index: 10;
    }
    &__content {
        height: 100%;
        padding: 0.75rem 1rem;
        position: relative;
        @include tablet {
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            height: calc(100% - 24px);
            padding: 1.5rem 2rem;
        }
        &::-webkit-scrollbar {
            width: 0;
        }
        &-child {
            height: 100%;
            scroll-snap-align: start;
        }
    }
    &__desc {
        text-indent: 1rem;
        font-size: 1.15rem;
        padding: 0.5rem 0;
        @include tablet {
            text-indent: 2rem;
            font-size: 1.35rem;
        }
        @include desktop {
            font-size: 1.65rem;
        }
    }
    &__stats {
        &-profile {
            width: 10rem;
            padding-bottom: 2rem;
            &-wrap {
                display: flex;
                justify-content: center;
                @include tablet {
                    justify-content: flex-start;
                }
            }
        }
        &-list {
            font-size: 1rem;
            padding-left: 1rem;
            padding-bottom: 1rem;
            @include tablet {
                font-size: 1.25rem;
            }
            @include desktop {
                font-size: 1.5rem;
            }
        }
        &-wrap {
            height: 100%;
            @include tablet {
                margin-bottom: 2.75rem;
            }
        }
    }
    &__scroll {
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        gap: 0.75rem;
        right: 1rem;
        &-icon {
            cursor: url(/cursors/pointer.png) 14 0,pointer;
            &--clicked {
                width: 0.9rem;
                height: 0.9rem;
                display: inline-block;
                position: absolute;
                top: 0.3rem;
                left: 0.3rem;
                background-color: $dark-grey;
                border-radius: 50%;
            }
            &-wrap {
                position: relative;
            }
        }
    }
}