@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.profile-card {
    background-color: $off-white;
    @include tablet {
        height: calc(100vh - 15rem);
        top: 0rem;
    }
    @include desktop {
        max-width: 70rem;
    }
    &__title {
        background-color: $off-white !important;
        margin-bottom: 0;
        z-index: 10;
    }
    &__content {
        height: 100%;
        padding: 1rem 1.25rem !important;
        @include tablet {
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            height: calc(100% - 24px);
            padding: 1.5rem 2rem !important;
        }
        &::-webkit-scrollbar {
            width: 0;
        }
        &-child {
            height: 100%;
            scroll-snap-align: start;
        }
    }
    &__desc {
        text-indent: 1rem;
        font-size: 1.15rem;
        @include tablet {
            text-indent: 2rem;
            font-size: 1.35rem;
        }
        @include desktop {
            font-size: 1.65rem;
        }
    }
    &__stats {
        &-profile {
            width: 10rem;
            padding-bottom: 2rem;
            &-wrap {
                display: flex;
                justify-content: center;
                @include tablet {
                    justify-content: flex-start;
                }
            }
        }
        &-list {
            font-size: 1rem;
            padding-left: 1rem;
            padding-bottom: 1rem;
            @include tablet {
                font-size: 1.25rem;
            }
            @include desktop {
                font-size: 1.5rem;
            }
        }
        &-wrap {
            height: 100%;
            @include tablet {
                margin-bottom: 2.75rem;
            }
        }
    }
}