@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.about-page {
    height: 100vh;
    background-color: $background-blue;
    display: flex;
    justify-content: center;
    align-items: center;
}