@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.about-page {
    min-height: calc(100vh - 7rem);
    height: 100%;
    background-color: $background-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}