@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.about-page {
    width: 100vw;
    height: 100%;
    background-color: $off-white;
    position: relative;
    @include tablet {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}