.home-page {
    height: 100vh;
    background-color: rgb(14, 5, 39);
    &__content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top:5rem;
        &--background {
            width: 70%;
        }
    }
}