@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.page-nav {
    width: 100%;
    height: 100vh;
    background-color: $background-dark;
    z-index: 100;
    display: flex;
    justify-content: center;
    padding: 0.75rem 1rem !important;
    @include tablet {
        width: 19rem;
    }
    @include desktop {
        padding: 1rem 1.25rem !important;
    }
    &__burger-icon {
        cursor: pointer;
        &-wrap {
            position:fixed;
            left: 1rem;
            top: 1.75rem;
            z-index: 100;
        }
    }
    &__inner-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desktop {
            max-width: $desktop;
        }
    }
    &__options-wrap {
        width: 100%;
        @include side-padding-mobile;
        display: flex;
        justify-content: center;
    }
    &__button {
        font-size: 1.2rem;
        color: $background-dark !important;
        width: 100%;
        cursor: pointer;
        &:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}